In [2]:
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode, from_json, col, explode,lower, collect_list,concat_ws
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, ArrayType
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler

def init_spark():
    spark = SparkSession \
        .builder \
        .appName("Python Spark SQL basic example") \
        .config("spark.some.config.option", "some-value") \
        .getOrCreate()
    return spark

In [3]:
spark = init_spark()
movies_df = spark.read.csv(os.path.join("data/movies_metadata.csv"), header=True, inferSchema=True)

# Select columns we are interested in
movies_df = movies_df.select("id", "title", "genres").distinct()
genres_schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True)
])

# Convert the "genres" column to an array of structs
movies_df = movies_df.withColumn("genres", from_json(col("genres"), ArrayType(genres_schema)))

movies_df = movies_df.select("id", "title", explode(col("genres")).alias("genre")) \
               .select("id", "title", col("genre.name").alias("genre_name")) \
               .dropna()

# Group the data by id and title, and collect the genre names into a list
movies_df = movies_df.groupBy("id", "title").agg(collect_list("genre_name").alias("genres"))

# Combine the genre names into one string
movies_df = movies_df.withColumn("genres", concat_ws(",", "genres"))
movies_df.show(truncate=False)

+------+--------------------------------------------------+------------------------------------------------+
|id    |title                                             |genres                                          |
+------+--------------------------------------------------+------------------------------------------------+
|10001 |Young Einstein                                    |Comedy,Science Fiction                          |
|100010|Flight Command                                    |Drama,War                                       |
|10002 |Mona Lisa                                         |Drama,Crime,Romance                             |
|100024|Bloodwork                                         |Horror,Thriller                                 |
|100032|Released                                          |Drama,Action                                    |
|10004 |Desperation                                       |Drama,Fantasy,Horror,Thriller,Mystery           |
|10006 |Wild Seven                                        |Action,Crime,Drama                              |
|100089|Nazis at the Center of the Earth                  |Adventure,Horror,Action,Thriller,Science Fiction|
|10009 |Brother Bear                                      |Adventure,Animation,Family                      |
|10011 |Abominable                                        |Horror,Thriller                                 |
|10012 |Cursed                                            |Horror,Comedy                                   |
|10013 |Peggy Sue Got Married                             |Comedy,Drama,Fantasy,Romance                    |
|10014 |A Nightmare on Elm Street Part 2: Freddy's Revenge|Horror                                          |
|10015 |Heartbreak Ridge                                  |Action,Comedy,Drama,War                         |
|100152|Mars                                              |Comedy                                          |
|10016 |Ghosts of Mars                                    |Action,Horror,Science Fiction                   |
|10017 |The Wraith                                        |Romance,Science Fiction,Horror,Action,Crime     |
|100179|Released                                          |Documentary                                     |
|100183|Outpost: Black Sun                                |Action,Horror                                   |
|100196|Julian Po                                         |Comedy,Drama,Romance                            |
+------+--------------------------------------------------+------------------------------------------------+
only showing top 20 rows

In [4]:
# Split the genres column into multiple columns
genres = movies_df.select("genres").rdd.flatMap(lambda x: x[0].split(',')).distinct().collect()
for genre in genres:
    movies_df = movies_df.withColumn(genre, col("genres").contains(genre).cast("int"))
movies_df.show(truncate=False)

+------+--------------------------------------------------+------------------------------------------------+---------------+-----+-------+------+--------+------+-------+------+-----------+-------+--------+------+---+-----+-------+---------+---------+-------+-----+-------+
|id    |title                                             |genres                                          |Science Fiction|Drama|Romance|Horror|Thriller|Action|Fantasy|Family|Documentary|Western|TV Movie|Comedy|War|Crime|Mystery|Adventure|Animation|History|Music|Foreign|
+------+--------------------------------------------------+------------------------------------------------+---------------+-----+-------+------+--------+------+-------+------+-----------+-------+--------+------+---+-----+-------+---------+---------+-------+-----+-------+
|10001 |Young Einstein                                    |Comedy,Science Fiction                          |1              |0    |0      |0     |0       |0     |0      |0     |0          |0      |0       |1     |0  |0    |0      |0        |0        |0      |0    |0      |
|100010|Flight Command                                    |Drama,War                                       |0              |1    |0      |0     |0       |0     |0      |0     |0          |0      |0       |0     |1  |0    |0      |0        |0        |0      |0    |0      |
|10002 |Mona Lisa                                         |Drama,Crime,Romance                             |0              |1    |1      |0     |0       |0     |0      |0     |0          |0      |0       |0     |0  |1    |0      |0        |0        |0      |0    |0      |
|100024|Bloodwork                                         |Horror,Thriller                                 |0              |0    |0      |1     |1       |0     |0      |0     |0          |0      |0       |0     |0  |0    |0      |0        |0        |0      |0    |0      |
|100032|Released                                          |Drama,Action                                    |0              |1    |0      |0     |0       |1     |0      |0     |0          |0      |0       |0     |0  |0    |0      |0        |0        |0      |0    |0      |
|10004 |Desperation                                       |Drama,Fantasy,Horror,Thriller,Mystery           |0              |1    |0      |1     |1       |0     |1      |0     |0          |0      |0       |0     |0  |0    |1      |0        |0        |0      |0    |0      |
|10006 |Wild Seven                                        |Action,Crime,Drama                              |0              |1    |0      |0     |0       |1     |0      |0     |0          |0      |0       |0     |0  |1    |0      |0        |0        |0      |0    |0      |
|100089|Nazis at the Center of the Earth                  |Adventure,Horror,Action,Thriller,Science Fiction|1              |0    |0      |1     |1       |1     |0      |0     |0          |0      |0       |0     |0  |0    |0      |1        |0        |0      |0    |0      |
|10009 |Brother Bear                                      |Adventure,Animation,Family                      |0              |0    |0      |0     |0       |0     |0      |1     |0          |0      |0       |0     |0  |0    |0      |1        |1        |0      |0    |0      |
|10011 |Abominable                                        |Horror,Thriller                                 |0              |0    |0      |1     |1       |0     |0      |0     |0          |0      |0       |0     |0  |0    |0      |0        |0        |0      |0    |0      |
|10012 |Cursed                                            |Horror,Comedy                                   |0              |0    |0      |1     |0       |0     |0      |0     |0          |0      |0       |1     |0  |0    |0      |0        |0        |0      |0    |0      |
|10013 |Peggy Sue Got Married                             |Comedy,Drama,Fantasy,Romance                    |0              |1    |1      |0     |0       |0     |1      |0     |0          |0      |0       |1     |0  |0    |0      |0        |0        |0      |0    |0      |
|10014 |A Nightmare on Elm Street Part 2: Freddy's Revenge|Horror                                          |0              |0    |0      |1     |0       |0     |0      |0     |0          |0      |0       |0     |0  |0    |0      |0        |0        |0      |0    |0      |
|10015 |Heartbreak Ridge                                  |Action,Comedy,Drama,War                         |0              |1    |0      |0     |0       |1     |0      |0     |0          |0      |0       |1     |1  |0    |0      |0        |0        |0      |0    |0      |
|100152|Mars                                              |Comedy                                          |0              |0    |0      |0     |0       |0     |0      |0     |0          |0      |0       |1     |0  |0    |0      |0        |0        |0      |0    |0      |
|10016 |Ghosts of Mars                                    |Action,Horror,Science Fiction                   |1              |0    |0      |1     |0       |1     |0      |0     |0          |0      |0       |0     |0  |0    |0      |0        |0        |0      |0    |0      |
|10017 |The Wraith                                        |Romance,Science Fiction,Horror,Action,Crime     |1              |0    |1      |1     |0       |1     |0      |0     |0          |0      |0       |0     |0  |1    |0      |0        |0        |0      |0    |0      |
|100179|Released                                          |Documentary                                     |0              |0    |0      |0     |0       |0     |0      |0     |1          |0      |0       |0     |0  |0    |0      |0        |0        |0      |0    |0      |
|100183|Outpost: Black Sun                                |Action,Horror                                   |0              |0    |0      |1     |0       |1     |0      |0     |0          |0      |0       |0     |0  |0    |0      |0        |0        |0      |0    |0      |
|100196|Julian Po                                         |Comedy,Drama,Romance                            |0              |1    |1      |0     |0       |0     |0      |0     |0          |0      |0       |1     |0  |0    |0      |0        |0        |0      |0    |0      |
+------+--------------------------------------------------+------------------------------------------------+---------------+-----+-------+------+--------+------+-------+------+-----------+-------+--------+------+---+-----+-------+---------+---------+-------+-----+-------+
only showing top 20 rows

In [5]:
# Create a feature vector for each movie
assembler = VectorAssembler(inputCols=genres, outputCol="features")
movies_df = assembler.transform(movies_df)
movies_df.show()

+------+--------------------+--------------------+---------------+-----+-------+------+--------+------+-------+------+-----------+-------+--------+------+---+-----+-------+---------+---------+-------+-----+-------+--------------------+
|    id|               title|              genres|Science Fiction|Drama|Romance|Horror|Thriller|Action|Fantasy|Family|Documentary|Western|TV Movie|Comedy|War|Crime|Mystery|Adventure|Animation|History|Music|Foreign|            features|
+------+--------------------+--------------------+---------------+-----+-------+------+--------+------+-------+------+-----------+-------+--------+------+---+-----+-------+---------+---------+-------+-----+-------+--------------------+
| 10001|      Young Einstein|Comedy,Science Fi...|              1|    0|      0|     0|       0|     0|      0|     0|          0|      0|       0|     1|  0|    0|      0|        0|        0|      0|    0|      0|(20,[0,11],[1.0,1...|
|100010|      Flight Command|           Drama,War|              0|    1|      0|     0|       0|     0|      0|     0|          0|      0|       0|     0|  1|    0|      0|        0|        0|      0|    0|      0|(20,[1,12],[1.0,1...|
| 10002|           Mona Lisa| Drama,Crime,Romance|              0|    1|      1|     0|       0|     0|      0|     0|          0|      0|       0|     0|  0|    1|      0|        0|        0|      0|    0|      0|(20,[1,2,13],[1.0...|
|100024|           Bloodwork|     Horror,Thriller|              0|    0|      0|     1|       1|     0|      0|     0|          0|      0|       0|     0|  0|    0|      0|        0|        0|      0|    0|      0|(20,[3,4],[1.0,1.0])|
|100032|            Released|        Drama,Action|              0|    1|      0|     0|       0|     1|      0|     0|          0|      0|       0|     0|  0|    0|      0|        0|        0|      0|    0|      0|(20,[1,5],[1.0,1.0])|
| 10004|         Desperation|Drama,Fantasy,Hor...|              0|    1|      0|     1|       1|     0|      1|     0|          0|      0|       0|     0|  0|    0|      1|        0|        0|      0|    0|      0|(20,[1,3,4,6,14],...|
| 10006|          Wild Seven|  Action,Crime,Drama|              0|    1|      0|     0|       0|     1|      0|     0|          0|      0|       0|     0|  0|    1|      0|        0|        0|      0|    0|      0|(20,[1,5,13],[1.0...|
|100089|Nazis at the Cent...|Adventure,Horror,...|              1|    0|      0|     1|       1|     1|      0|     0|          0|      0|       0|     0|  0|    0|      0|        1|        0|      0|    0|      0|(20,[0,3,4,5,15],...|
| 10009|        Brother Bear|Adventure,Animati...|              0|    0|      0|     0|       0|     0|      0|     1|          0|      0|       0|     0|  0|    0|      0|        1|        1|      0|    0|      0|(20,[7,15,16],[1....|
| 10011|          Abominable|     Horror,Thriller|              0|    0|      0|     1|       1|     0|      0|     0|          0|      0|       0|     0|  0|    0|      0|        0|        0|      0|    0|      0|(20,[3,4],[1.0,1.0])|
| 10012|              Cursed|       Horror,Comedy|              0|    0|      0|     1|       0|     0|      0|     0|          0|      0|       0|     1|  0|    0|      0|        0|        0|      0|    0|      0|(20,[3,11],[1.0,1...|
| 10013|Peggy Sue Got Mar...|Comedy,Drama,Fant...|              0|    1|      1|     0|       0|     0|      1|     0|          0|      0|       0|     1|  0|    0|      0|        0|        0|      0|    0|      0|(20,[1,2,6,11],[1...|
| 10014|A Nightmare on El...|              Horror|              0|    0|      0|     1|       0|     0|      0|     0|          0|      0|       0|     0|  0|    0|      0|        0|        0|      0|    0|      0|      (20,[3],[1.0])|
| 10015|    Heartbreak Ridge|Action,Comedy,Dra...|              0|    1|      0|     0|       0|     1|      0|     0|          0|      0|       0|     1|  1|    0|      0|        0|        0|      0|    0|      0|(20,[1,5,11,12],[...|
|100152|                Mars|              Comedy|              0|    0|      0|     0|       0|     0|      0|     0|          0|      0|       0|     1|  0|    0|      0|        0|        0|      0|    0|      0|     (20,[11],[1.0])|
| 10016|      Ghosts of Mars|Action,Horror,Sci...|              1|    0|      0|     1|       0|     1|      0|     0|          0|      0|       0|     0|  0|    0|      0|        0|        0|      0|    0|      0|(20,[0,3,5],[1.0,...|
| 10017|          The Wraith|Romance,Science F...|              1|    0|      1|     1|       0|     1|      0|     0|          0|      0|       0|     0|  0|    1|      0|        0|        0|      0|    0|      0|(20,[0,2,3,5,13],...|
|100179|            Released|         Documentary|              0|    0|      0|     0|       0|     0|      0|     0|          1|      0|       0|     0|  0|    0|      0|        0|        0|      0|    0|      0|      (20,[8],[1.0])|
|100183|  Outpost: Black Sun|       Action,Horror|              0|    0|      0|     1|       0|     1|      0|     0|          0|      0|       0|     0|  0|    0|      0|        0|        0|      0|    0|      0|(20,[3,5],[1.0,1.0])|
|100196|           Julian Po|Comedy,Drama,Romance|              0|    1|      1|     0|       0|     0|      0|     0|          0|      0|       0|     1|  0|    0|      0|        0|        0|      0|    0|      0|(20,[1,2,11],[1.0...|
+------+--------------------+--------------------+---------------+-----+-------+------+--------+------+-------+------+-----------+-------+--------+------+---+-----+-------+---------+---------+-------+-----+-------+--------------------+
only showing top 20 rows

In [6]:
from pyspark.ml.clustering import KMeans

# Train and fit to kmeans model (can change k and seed later)
kmeans = KMeans(k=20)
model = kmeans.fit(movies_df.select("features"))

In [13]:
def recommend_movies(moviesInput, ratings):
    # Create a dataframe with the input movies and their ratings
    input_df = spark.createDataFrame(zip(moviesInput, ratings), schema=["title", "rating"])

    # Join the input movies with the movies dataframe to get their features
    input_features_df = input_df.join(movies_df, on="title", how="inner").select("id", "features", "rating")
    print("input features df")
    input_features_df.show()

    print("ids of inputs")

    inputIds = []
    for row in input_features_df.select("id").collect():
        inputIds.append(row["id"])
    print(inputIds)

    # Make predictions for the input movies using the kmeans model
    predictions_df = model.transform(input_features_df).drop("features")
    print("predictions df")
    predictions_df.show()

    # Get the cluster label for the input movies
    cluster_label = predictions_df.select("prediction").distinct().collect()[0]["prediction"]
    print("cluster label")
    print(cluster_label)

    # Get the ids of the movies in the same cluster as the input movies
    cluster_movies_df = model.transform(movies_df).filter(col("prediction") == cluster_label)
    cluster_movies_ids = cluster_movies_df.select("id").rdd.flatMap(lambda x: x).collect()
    print("cluster movies id")
    print(cluster_movies_ids)

    # Exclude the input movies from the recommendations AND keep ids in clust
    recommendations_df = movies_df.filter(col('id').isin(cluster_movies_ids))
    recommendations_df = recommendations_df.filter(~col('id').isin(inputIds))

    print("recommendations df (Exclude the input movies from the recommendations AND keep ids in clust)")
    recommendations_df.show(truncate=False)

    #----------------------------------------------------------------------------------


    # Join with the predictions dataframe to get the rating of the recommended movies
    # PROBLEM HERE
    recommendations_df = recommendations_df.join(predictions_df, on="id", how="inner").select("title", "genres", "prediction", "rating")
    print("recommendations df (Join with the predictions dataframe to get the rating of the recommended movies)")
    recommendations_df.show(truncate=False)

    # Sort the recommended movies by their rating and select the top 10
    top_recommendations = recommendations_df.sort(col("rating").desc()).limit(10)

    print("top recommendations df")
    top_recommendations.show(truncate=False)

    return top_recommendations.select("title", "genres").rdd.map(lambda x: (x[0], x[1])).collect()

# Input movies
moviesInput = ["The Notebook"]

# Ratings for the input movies
ratings = [1, 1, 0, 10]

# Call the recommend_movies function
recommended_movies = recommend_movies(moviesInput, ratings)

# Print the recommended movies
print("recommended: ")
print(recommended_movies)

input features df
+------+--------------------+------+
|    id|            features|rating|
+------+--------------------+------+
|   862|(20,[7,11,16],[1....|     1|
| 10009|(20,[7,15,16],[1....|     1|
| 72003|(20,[1,4,5,13],[1...|     0|
|   155|(20,[1,4,5,13],[1...|     0|
|199615|(20,[1,12],[1.0,1...|    10|
| 11036|(20,[1,2],[1.0,1.0])|    10|
+------+--------------------+------+

ids of inputs
['862', '10009', '72003', '155', '199615', '11036']
predictions df
+------+------+----------+
|    id|rating|prediction|
+------+------+----------+
|   862|     1|         3|
| 10009|     1|         3|
| 72003|     0|         9|
|   155|     0|         9|
|199615|    10|         1|
| 11036|    10|         6|
+------+------+----------+

cluster label
3
cluster movies id
['10009', '10112', '101806', '10530', '10555', '105875', '106629', '10674', '10693', '10800', '10837', '10865', '10895', '10948', '10996', '110416', '110420', '11135', '11360', '114718', '11497', '11544', '11619', '11625', '11626', '116977', '11802', '11836', '118931', '119321', '11970', '12', '12092', '12242', '1260', '12610', '1267', '12697', '13004', '13042', '13053', '130925', '13187', '13284', '13285', '13355', '13377', '13394', '13400', '134415', '134569', '13459', '13517', '13654', '13675', '13679', '136793', '13682', '13691', '13759', '13798', '13929', '13930', '13931', '140420', '140870', '14128', '141423', '141976', '142402', '14447', '145132', '14518', '145316', '145760', '14613', '14704', '14813', '14830', '149910', '15016', '15139', '15242', '152948', '15370', '15374', '15512', '15601', '15898', '15906', '15947', '15997', '160046', '160106', '16049', '16198', '16234', '16237', '16390', '16418', '16455', '16577', '166747', '16690', '16808', '168903', '172385', '172391', '175112', '18269', '18890', '19042', '191322', '19164', '19323', '196633', '197725', '19975', '20007', '20183', '204712', '20542', '20558', '21032', '21036', '21293', '21348', '21385', '21705', '221510', '22501', '22582', '22611', '2300', '233423', '23566', '235662', '23903', '240723', '24179', '24556', '245685', '24787', '25079', '250895', '25475', '25556', '25741', '257932', '258096', '260310', '260514', '261103', '261985', '26497', '26505', '26538', '265982', '26728', '26730', '268531', '273127', '273149', '273315', '275130', '275287', '276819', '28275', '28550', '292014', '293471', '294826', '29682', '299400', '299856', '300424', '30074', '30583', '308794', '322487', '324963', '33037', '33539', '335797', '33838', '338485', '339526', '339669', '34065', '34134', '343693', '343977', '34433', '34942', '353641', '355111', '35614', '356161', '361380', '36163', '362058', '36323', '363484', '36616', '366656', '367326', '36748', '36868', '36897', '369054', '37049', '370545', '370765', '37211', '374251', '37797', '38055', '38060', '38348', '38782', '39057', '393559', '393877', '396289', '40623', '41216', '413736', '42647', '43158', '43475', '46247', '46963', '48880', '49013', '49131', '49519', '49948', '50087', '51052', '51162', '51881', '51902', '51985', '52939', '53074', '532', '53211', '54113', '54491', '54825', '55301', '5559', '56391', '56828', '57089', '57277', '57718', '57737', '57789', '60800', '60897', '61320', '62211', '62214', '63809', '64029', '64202', '6477', '64877', '65759', '70061', '72204', '72205', '72211', '72850', '72972', '73456', '7443', '7484', '756', '75897', '77194', '77859', '79419', '79596', '79701', '79842', '79869', '80321', '809', '810', '81188', '81670', '81684', '82703', '83201', '84774', '85580', '856', '8587', '862', '88762', '8920', '89825', '90034', '9023', '91342', '9318', '9502', '96872', '9904', '9907', '9928', '9929', '9982', '10010', '10020', '10137', '10144', '10150', '101503', '101538', '10191', '10192', '10193', '10198', '10199', '10258', '102909', '103014', '10315', '10340', '10380', '10501', '10527', '10539', '10545', '10567', '105864', '10681', '10715', '10882', '10898', '109175', '109445', '109451', '10982', '110395', '11047', '11114', '11224', '11238', '11243', '11319', '11430', '114955', '115223', '116318', '116711', '11704', '117452', '118727', '11886', '120055', '120077', '12144', '121734', '12222', '12230', '12233', '12335', '123867', '12429', '12448', '126319', '1273', '127380', '12819', '129', '12902', '12903', '129533', '13002', '13017', '13061', '13062', '13151', '13179', '13205', '13225', '13246', '13247', '132601', '132714', '13283', '13313', '133131', '13350', '13351', '13353', '13354', '13382', '133931', '13397', '13413', '13465', '134841', '135832', '136074', '1361', '1362', '13676', '136799', '13683', '13690', '13699', '13700', '137106', '137116', '137200', '13755', '13757', '13761', '137769', '13850', '13932', '13933', '13934', '140300', '14059', '141418', '14160', '141614', '14175', '142308', '14248', '14317', '143563', '14411', '14444', '14612', '147105', '14836', '14873', '14885', '149023', '14903', '14906', '14919', '15015', '150540', '151535', '15165', '15173', '151960', '153518', '15511', '15567', '15653', '15655', '15657', '15718', '157305', '15789', '15838', '15854', '15969', '159824', '16110', '16112', '161143', '16119', '16340', '16366', '16508', '165095', '167666', '16866', '16962', '17007', '17009', '170687', '17132', '17337', '175574', '17644', '17710', '17711', '177271', '177572', '177888', '17794', '180644', '18068', '18095', '18198', '18846', '18901', '18937', '18948', '18975', '19004', '19016', '19026', '19165', '191975', '19247', '19325', '193650', '19386', '19405', '195065', '19508', '19594', '196254', '196649', '19933', '19947', '201676', '202575', '20343', '20352', '203696', '20377', '20378', '20410', '20414', '20421', '20455', '204582', '2062', '20694', '20722', '20756', '20760', '210769', '211672', '212470', '213121', '21316', '21379', '21394', '21780', '21793', '218836', '21956', '220154', '22259', '223046', '223706', '22466', '22504', '22643', '227200', '227257', '22752', '227679', '227783', '22794', '228165', '228326', '230222', '230731', '23398', '234004', '234567', '234862', '23544', '237709', '238302', '239018', '24034', '241004', '24101', '24251', '24432', '24480', '245003', '24554', '24589', '24615', '24662', '24678', '24926', '25078', '251768', '252983', '25353', '25361', '25472', '255528', '255718', '25587', '256835', '25831', '258509', '258893', '25913', '25961', '260234', '26111', '261409', '263109', '263945', '26537', '26547', '265712', '26809', '268893', '269149', '26963', '270946', '27273', '273205', '273309', '273578', '275136', '275244', '27599', '276905', '277834', '278154', '28032', '28118', '28302', '284995', '285733', '286192', '286940', '287233', '28967', '28969', '29192', '292177', '29233', '292795', '293271', '293299', '295693', '297270', '30101', '302118', '302429', '302960', '303457', '30576', '308447', '308686', '31112', '312100', '31242', '31309', '313297', '314601', '31473', '316322', '3170', '31933', '32147', '322456', '324849', '324852', '324978', '326359', '327418', '328111', '32916', '332210', '333667', '33371', '33427', '33719', '338072', '338100', '34003', '341007', '341984', '342473', '342917', '34672', '347688', '35', '35257', '353595', '354832', '355135', '355338', '35639', '35780', '358353', '35927', '359983', '360404', '36129', '36153', '36161', '36162', '36218', '36257', '36301', '363478', '363483', '364387', '36523', '36540', '366143', '36696', '368940', '369052', '36972', '37135', '37556', '37587', '37776', '377897', '378236', '37949', '38225', '382517', '382581', '385722', '38757', '387893', '38802', '39045', '394759', '399106', '39961', '400045', '40246', '40619', '40688', '408', '409696', '41066', '41097', '411221', '41394', '41493', '41513', '41515', '416261', '42001', '421126', '42246', '42313', '42473', '425', '42515', '42518', '42949', '43580', '43650', '438643', '43953', '43956', '44283', '44683', '447113', '44874', '44896', '455661', '45662', '45665', '45752', '45772', '45827', '45974', '46195', '46314', '46929', '47182', '47288', '47292', '47670', '48567', '48874', '49444', '4978', '50119', '50135', '50166', '50179', '50201', '50321', '50359', '50393', '50730', '51000', '51170', '51281', '51330', '51349', '51485', '51531', '51739', '51786', '52207', '52458', '5255', '52686', '52954', '52989', '530', '531', '53220', '533', '53985', '54540', '54551', '54559', '54648', '56672', '57800', '5833', '585', '58700', '59178', '59387', '59803', '59981', '60293', '60405', '60949', '61313', '61495', '61550', '62177', '62429', '63486', '63957', '65504', '67900', '68179', '71689', '72185', '72197', '72203', '72214', '72215', '72720', '72962', '72977', '73094', '73723', '7450', '75141', '7518', '75244', '75258', '76346', '76492', '77174', '77304', '77459', '77499', '77887', '77931', '77950', '77951', '78124', '79218', '79327', '79737', '79853', '799', '808', '80918', '81003', '812', '81294', '81310', '81338', '81416', '81420', '81828', '81900', '82279', '82424', '82623', '82690', '82702', '82881', '8355', '83564', '83746', '83750', '83765', '83865', '8392', '85439', '85693', '863', '88557', '8868', '8916', '89606', '89623', '8965', '89816', '90319', '9078', '9084', '920', '9297', '9325', '93456', '9369', '9385', '94196', '9444', '9479', '94820', '9487', '950', '9513', '953', '9642', '9732', '9806', '9837', '9906', '9948', '9975', '9992', '9994']
recommendations df (Exclude the input movies from the recommendations AND keep ids in clust)
+------+------------------------------------------------+------------------------------------------+---------------+-----+-------+------+--------+------+-------+------+-----------+-------+--------+------+---+-----+-------+---------+---------+-------+-----+-------+-----------------------------------------+
|id    |title                                           |genres                                    |Science Fiction|Drama|Romance|Horror|Thriller|Action|Fantasy|Family|Documentary|Western|TV Movie|Comedy|War|Crime|Mystery|Adventure|Animation|History|Music|Foreign|features                                 |
+------+------------------------------------------------+------------------------------------------+---------------+-----+-------+------+--------+------+-------+------+-----------+-------+--------+------+---+-----+-------+---------+---------+-------+-----+-------+-----------------------------------------+
|10112 |The Aristocats                                  |Animation,Comedy,Family,Adventure         |0              |0    |0      |0     |0       |0     |0      |1     |0          |0      |0       |1     |0  |0    |0      |1        |1        |0      |0    |0      |(20,[7,11,15,16],[1.0,1.0,1.0,1.0])      |
|101806|The Mad Doctor                                  |Animation,Comedy,Family,Horror,Thriller   |0              |0    |0      |1     |1       |0     |0      |1     |0          |0      |0       |1     |0  |0    |0      |0        |1        |0      |0    |0      |(20,[3,4,7,11,16],[1.0,1.0,1.0,1.0,1.0]) |
|10530 |Pocahontas                                      |Adventure,Animation,Drama,Family          |0              |1    |0      |0     |0       |0     |0      |1     |0          |0      |0       |0     |0  |0    |0      |1        |1        |0      |0    |0      |(20,[1,7,15,16],[1.0,1.0,1.0,1.0])       |
|10555 |Shark Tale                                      |Animation,Action,Comedy,Family            |0              |0    |0      |0     |0       |1     |0      |1     |0          |0      |0       |1     |0  |0    |0      |0        |1        |0      |0    |0      |(20,[5,7,11,16],[1.0,1.0,1.0,1.0])       |
|105875|Cinderella                                      |Animation,Family,Fantasy                  |0              |0    |0      |0     |0       |0     |1      |1     |0          |0      |0       |0     |0  |0    |0      |0        |1        |0      |0    |0      |(20,[6,7,16],[1.0,1.0,1.0])              |
|106629|Alfie, the Little Werewolf                      |Family                                    |0              |0    |0      |0     |0       |0     |0      |1     |0          |0      |0       |0     |0  |0    |0      |0        |0        |0      |0    |0      |(20,[7],[1.0])                           |
|10674 |Mulan                                           |Animation,Family,Adventure                |0              |0    |0      |0     |0       |0     |0      |1     |0          |0      |0       |0     |0  |0    |0      |1        |1        |0      |0    |0      |(20,[7,15,16],[1.0,1.0,1.0])             |
|10693 |Peter Pan                                       |Animation,Music,Family,Adventure,Fantasy  |0              |0    |0      |0     |0       |0     |1      |1     |0          |0      |0       |0     |0  |0    |0      |1        |1        |0      |1    |0      |(20,[6,7,15,16,18],[1.0,1.0,1.0,1.0,1.0])|
|10800 |Dragon Hunters                                  |Animation,Family                          |0              |0    |0      |0     |0       |0     |0      |1     |0          |0      |0       |0     |0  |0    |0      |0        |1        |0      |0    |0      |(20,[7,16],[1.0,1.0])                    |
|10837 |DuckTales: The Movie - Treasure of the Lost Lamp|Adventure,Animation,Family,Comedy,Fantasy |0              |0    |0      |0     |0       |0     |1      |1     |0          |0      |0       |1     |0  |0    |0      |1        |1        |0      |0    |0      |(20,[6,7,11,15,16],[1.0,1.0,1.0,1.0,1.0])|
|10865 |Atlantis: The Lost Empire                       |Animation,Family,Adventure,Science Fiction|1              |0    |0      |0     |0       |0     |0      |1     |0          |0      |0       |0     |0  |0    |0      |1        |1        |0      |0    |0      |(20,[0,7,15,16],[1.0,1.0,1.0,1.0])       |
|10895 |For anyone who has ever wished upon a star.     |Animation,Family                          |0              |0    |0      |0     |0       |0     |0      |1     |0          |0      |0       |0     |0  |0    |0      |0        |1        |0      |0    |0      |(20,[7,16],[1.0,1.0])                    |
|10948 |The Fox and the Hound                           |Adventure,Animation,Drama,Family          |0              |1    |0      |0     |0       |0     |0      |1     |0          |0      |0       |0     |0  |0    |0      |1        |1        |0      |0    |0      |(20,[1,7,15,16],[1.0,1.0,1.0,1.0])       |
|10996 |Stuart Little 2                                 |Family,Adventure,Animation,Comedy         |0              |0    |0      |0     |0       |0     |0      |1     |0          |0      |0       |1     |0  |0    |0      |1        |1        |0      |0    |0      |(20,[7,11,15,16],[1.0,1.0,1.0,1.0])      |
|110416|Song of the Sea                                 |Family,Animation,Fantasy                  |0              |0    |0      |0     |0       |0     |1      |1     |0          |0      |0       |0     |0  |0    |0      |0        |1        |0      |0    |0      |(20,[6,7,16],[1.0,1.0,1.0])              |
|110420|Wolf Children                                   |Animation,Drama,Family,Fantasy            |0              |1    |0      |0     |0       |0     |1      |1     |0          |0      |0       |0     |0  |0    |0      |0        |1        |0      |0    |0      |(20,[1,6,7,16],[1.0,1.0,1.0,1.0])        |
|11135 |The Rescuers Down Under                         |Adventure,Animation,Crime,Family,Fantasy  |0              |0    |0      |0     |0       |0     |1      |1     |0          |0      |0       |0     |0  |1    |0      |1        |1        |0      |0    |0      |(20,[6,7,13,15,16],[1.0,1.0,1.0,1.0,1.0])|
|11360 |Dumbo                                           |Animation,Family                          |0              |0    |0      |0     |0       |0     |0      |1     |0          |0      |0       |0     |0  |0    |0      |0        |1        |0      |0    |0      |(20,[7,16],[1.0,1.0])                    |
|114718|Kauwboy                                         |Family                                    |0              |0    |0      |0     |0       |0     |0      |1     |0          |0      |0       |0     |0  |0    |0      |0        |0        |0      |0    |0      |(20,[7],[1.0])                           |
|11497 |All Dogs Go to Heaven                           |Drama,Animation,Family,Comedy,Fantasy     |0              |1    |0      |0     |0       |0     |1      |1     |0          |0      |0       |1     |0  |0    |0      |0        |1        |0      |0    |0      |(20,[1,6,7,11,16],[1.0,1.0,1.0,1.0,1.0]) |
+------+------------------------------------------------+------------------------------------------+---------------+-----+-------+------+--------+------+-------+------+-----------+-------+--------+------+---+-----+-------+---------+---------+-------+-----+-------+-----------------------------------------+
only showing top 20 rows

recommendations df (Join with the predictions dataframe to get the rating of the recommended movies)
+-----+------+----------+------+
|title|genres|prediction|rating|
+-----+------+----------+------+
+-----+------+----------+------+

top recommendations df
+-----+------+----------+------+
|title|genres|prediction|rating|
+-----+------+----------+------+
+-----+------+----------+------+

recommended:
[]