In [10]:
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode, from_json, col, explode,lower, collect_list,concat_ws
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, ArrayType
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans

def init_spark():
    spark = SparkSession \
        .builder \
        .appName("Python Spark SQL basic example") \
        .config("spark.some.config.option", "some-value") \
        .getOrCreate()
    return spark

In [11]:
spark = init_spark()
movies_df = spark.read.csv(os.path.join("data/movies_metadata.csv"), header=True, inferSchema=True)

# Select columns we are interested in
movies_df = movies_df.select("id", "title", "genres").distinct()
genres_schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True)
])

# Convert the "genres" column to an array of structs
movies_df = movies_df.withColumn("genres", from_json(col("genres"), ArrayType(genres_schema)))

movies_df = movies_df.select("id", "title", explode(col("genres")).alias("genre")) \
               .select("id", "title", col("genre.name").alias("genre_name")) \
               .dropna()

# Group the data by id and title, and collect the genre names into a list
movies_df = movies_df.groupBy("id", "title").agg(collect_list("genre_name").alias("genres"))

# Combine the genre names into one string
movies_df = movies_df.withColumn("genres", concat_ws(",", "genres"))
movies_df.show(truncate=False)

+------+--------------------------------------------------+------------------------------------------------+
|id    |title                                             |genres                                          |
+------+--------------------------------------------------+------------------------------------------------+
|10001 |Young Einstein                                    |Comedy,Science Fiction                          |
|100010|Flight Command                                    |Drama,War                                       |
|10002 |Mona Lisa                                         |Drama,Crime,Romance                             |
|100024|Bloodwork                                         |Horror,Thriller                                 |
|100032|Released                                          |Drama,Action                                    |
|10004 |Desperation                                       |Drama,Fantasy,Horror,Thriller,Mystery           |
|10006 |Wild Seven                                        |Action,Crime,Drama                              |
|100089|Nazis at the Center of the Earth                  |Adventure,Horror,Action,Thriller,Science Fiction|
|10009 |Brother Bear                                      |Adventure,Animation,Family                      |
|10011 |Abominable                                        |Horror,Thriller                                 |
|10012 |Cursed                                            |Horror,Comedy                                   |
|10013 |Peggy Sue Got Married                             |Comedy,Drama,Fantasy,Romance                    |
|10014 |A Nightmare on Elm Street Part 2: Freddy's Revenge|Horror                                          |
|10015 |Heartbreak Ridge                                  |Action,Comedy,Drama,War                         |
|100152|Mars                                              |Comedy                                          |
|10016 |Ghosts of Mars                                    |Action,Horror,Science Fiction                   |
|10017 |The Wraith                                        |Romance,Science Fiction,Horror,Action,Crime     |
|100179|Released                                          |Documentary                                     |
|100183|Outpost: Black Sun                                |Action,Horror                                   |
|100196|Julian Po                                         |Comedy,Drama,Romance                            |
+------+--------------------------------------------------+------------------------------------------------+
only showing top 20 rows

3005

In [13]:
def recommend_movies(movies_df, moviesInput, inputRatings):

    genres = movies_df.select("genres").rdd.flatMap(lambda x: x[0].split(',')).distinct().collect()
    print(genres)
    for genre in genres:
        movies_df = movies_df.withColumn(genre, col("genres").contains(genre).cast("int"))

    for i,movie in enumerate(moviesInput):
        rating = inputRatings[i]
        movie_input_df = movies_df.filter(col('title') == movie)
        for genre in genres:
            movie_input_df = movie_input_df.withColumn(genre, col(genre) * rating)
        movies_df = movies_df.filter(col('title') != movie).union(movie_input_df)
    
    # Create a feature vector for each movie and Adjust with ratings
    movies_df= movies_df.drop(col("features"))
    assembler = VectorAssembler(inputCols=genres, outputCol="features")
    movies_df = assembler.transform(movies_df)
    movies_df.show()
    # movies_df.filter(col('title') == 'Young Einstein').show(truncate=False)
    # movies_df.filter(col('title') == 'Mona Lisa').show(truncate=False)
    # movies_df.filter(col('title') == 'Iron Man').show(truncate=False)

    # Dataframe with the sum of each column
    genre_sum_df = movies_df.select([sum(col).alias(col) for col in genres])
    genre_sum_df.show()

    row_values = genre_sum_df.collect()[0]
    
    result = 0
    for column_name in genre_sum_df.columns:
        value = row_values[column_name]
        result += value

    genre_sum_df_normalized = genre_sum_df.select(*[(col(c) / result).alias(c) for c in genre_sum_df.columns])
    genre_sum_df_normalized.show()


    # Train and fit to kmeans model (can change k and seed later)
    # kmeans = KMeans(k=20)
    # model = kmeans.fit(movies_df.select("features"))
 



    # genre_sum_dict = genre_sum_df.collect()[0].asDict()

    # print(genre_sum_dict)
# Input movies
moviesInput = ["Mona Lisa", "Young Einstein"]

# Ratings for the input movies
ratings = [2, 10]

# Call the recommend_movies function
recommended_movies = recommend_movies(movies_df, moviesInput, ratings)

['Science Fiction', 'Drama', 'Romance', 'Horror', 'Thriller', 'Action', 'Fantasy', 'Family', 'Documentary', 'Western', 'TV Movie', 'Comedy', 'War', 'Crime', 'Mystery', 'Adventure', 'Animation', 'History', 'Music', 'Foreign']
+------+--------------------+--------------------+---------------+-----+-------+------+--------+------+-------+------+-----------+-------+--------+------+---+-----+-------+---------+---------+-------+-----+-------+--------------------+
|    id|               title|              genres|Science Fiction|Drama|Romance|Horror|Thriller|Action|Fantasy|Family|Documentary|Western|TV Movie|Comedy|War|Crime|Mystery|Adventure|Animation|History|Music|Foreign|            features|
+------+--------------------+--------------------+---------------+-----+-------+------+--------+------+-------+------+-----------+-------+--------+------+---+-----+-------+---------+---------+-------+-----+-------+--------------------+
|100010|      Flight Command|           Drama,War|              0|    1|      0|     0|       0|     0|      0|     0|          0|      0|       0|     0|  1|    0|      0|        0|        0|      0|    0|      0|(20,[1,12],[1.0,1...|
|100024|           Bloodwork|     Horror,Thriller|              0|    0|      0|     1|       1|     0|      0|     0|          0|      0|       0|     0|  0|    0|      0|        0|        0|      0|    0|      0|(20,[3,4],[1.0,1.0])|
|100032|            Released|        Drama,Action|              0|    1|      0|     0|       0|     1|      0|     0|          0|      0|       0|     0|  0|    0|      0|        0|        0|      0|    0|      0|(20,[1,5],[1.0,1.0])|
| 10004|         Desperation|Drama,Fantasy,Hor...|              0|    1|      0|     1|       1|     0|      1|     0|          0|      0|       0|     0|  0|    0|      1|        0|        0|      0|    0|      0|(20,[1,3,4,6,14],...|
| 10006|          Wild Seven|  Action,Crime,Drama|              0|    1|      0|     0|       0|     1|      0|     0|          0|      0|       0|     0|  0|    1|      0|        0|        0|      0|    0|      0|(20,[1,5,13],[1.0...|
|100089|Nazis at the Cent...|Adventure,Horror,...|              1|    0|      0|     1|       1|     1|      0|     0|          0|      0|       0|     0|  0|    0|      0|        1|        0|      0|    0|      0|(20,[0,3,4,5,15],...|
| 10009|        Brother Bear|Adventure,Animati...|              0|    0|      0|     0|       0|     0|      0|     1|          0|      0|       0|     0|  0|    0|      0|        1|        1|      0|    0|      0|(20,[7,15,16],[1....|
| 10011|          Abominable|     Horror,Thriller|              0|    0|      0|     1|       1|     0|      0|     0|          0|      0|       0|     0|  0|    0|      0|        0|        0|      0|    0|      0|(20,[3,4],[1.0,1.0])|
| 10012|              Cursed|       Horror,Comedy|              0|    0|      0|     1|       0|     0|      0|     0|          0|      0|       0|     1|  0|    0|      0|        0|        0|      0|    0|      0|(20,[3,11],[1.0,1...|
| 10013|Peggy Sue Got Mar...|Comedy,Drama,Fant...|              0|    1|      1|     0|       0|     0|      1|     0|          0|      0|       0|     1|  0|    0|      0|        0|        0|      0|    0|      0|(20,[1,2,6,11],[1...|
| 10014|A Nightmare on El...|              Horror|              0|    0|      0|     1|       0|     0|      0|     0|          0|      0|       0|     0|  0|    0|      0|        0|        0|      0|    0|      0|      (20,[3],[1.0])|
| 10015|    Heartbreak Ridge|Action,Comedy,Dra...|              0|    1|      0|     0|       0|     1|      0|     0|          0|      0|       0|     1|  1|    0|      0|        0|        0|      0|    0|      0|(20,[1,5,11,12],[...|
|100152|                Mars|              Comedy|              0|    0|      0|     0|       0|     0|      0|     0|          0|      0|       0|     1|  0|    0|      0|        0|        0|      0|    0|      0|     (20,[11],[1.0])|
| 10016|      Ghosts of Mars|Action,Horror,Sci...|              1|    0|      0|     1|       0|     1|      0|     0|          0|      0|       0|     0|  0|    0|      0|        0|        0|      0|    0|      0|(20,[0,3,5],[1.0,...|
| 10017|          The Wraith|Romance,Science F...|              1|    0|      1|     1|       0|     1|      0|     0|          0|      0|       0|     0|  0|    1|      0|        0|        0|      0|    0|      0|(20,[0,2,3,5,13],...|
|100179|            Released|         Documentary|              0|    0|      0|     0|       0|     0|      0|     0|          1|      0|       0|     0|  0|    0|      0|        0|        0|      0|    0|      0|      (20,[8],[1.0])|
|100183|  Outpost: Black Sun|       Action,Horror|              0|    0|      0|     1|       0|     1|      0|     0|          0|      0|       0|     0|  0|    0|      0|        0|        0|      0|    0|      0|(20,[3,5],[1.0,1.0])|
|100196|           Julian Po|Comedy,Drama,Romance|              0|    1|      1|     0|       0|     0|      0|     0|          0|      0|       0|     1|  0|    0|      0|        0|        0|      0|    0|      0|(20,[1,2,11],[1.0...|
| 10021|The Secret of My ...|              Comedy|              0|    0|      0|     0|       0|     0|      0|     0|          0|      0|       0|     1|  0|    0|      0|        0|        0|      0|    0|      0|     (20,[11],[1.0])|
|100215|         Another Way|       Drama,History|              0|    1|      0|     0|       0|     0|      0|     0|          0|      0|       0|     0|  0|    0|      0|        0|        0|      1|    0|      0|(20,[1,17],[1.0,1...|
+------+--------------------+--------------------+---------------+-----+-------+------+--------+------+-------+------+-----------+-------+--------+------+---+-----+-------+---------+---------+-------+-----+-------+--------------------+
only showing top 20 rows

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
    # # Train and fit to kmeans model (can change k and seed later)
    # kmeans = KMeans(k=20)
    # model = kmeans.fit(movies_df.select("features"))
    
    # # Create a dataframe with the input movies and their ratings
    # input_df = spark.createDataFrame(zip(moviesInput, ratings), schema=["title", "rating"])

    # # Join the input movies with the movies dataframe to get their features
    # input_features_df = input_df.join(movies_df, on="title", how="inner").select("id", "features", "rating")
    # print("input features df")
    # input_features_df.show()

    # print("ids of inputs")

    # inputIds = []
    # for row in input_features_df.select("id").collect():
    #     inputIds.append(row["id"])
    # print(inputIds)

    # # Make predictions for the input movies using the kmeans model
    # predictions_df = model.transform(input_features_df).drop("features")
    # print("predictions df")
    # predictions_df.show()

    # # Get the cluster label for the input movies
    # cluster_label = predictions_df.select("prediction").distinct().collect()[0]["prediction"]
    # print("cluster label")
    # print(cluster_label)

    # # Get the ids of the movies in the same cluster as the input movies
    # cluster_movies_df = model.transform(movies_df).filter(col("prediction") == cluster_label)
    # cluster_movies_ids = cluster_movies_df.select("id").rdd.flatMap(lambda x: x).collect()
    # print("cluster movies id")
    # print(cluster_movies_ids)

    # # Exclude the input movies from the recommendations AND keep ids in clust
    # recommendations_df = movies_df.filter(col('id').isin(cluster_movies_ids))
    # recommendations_df = recommendations_df.filter(~col('id').isin(inputIds))

    # print("recommendations df (Exclude the input movies from the recommendations AND keep ids in clust)")
    # recommendations_df.show(truncate=False)

    # #----------------------------------------------------------------------------------


    # # Join with the predictions dataframe to get the rating of the recommended movies
    # # PROBLEM HERE
    # recommendations_df = recommendations_df.join(predictions_df, on="id", how="inner").select("title", "genres", "prediction", "rating")
    # print("recommendations df (Join with the predictions dataframe to get the rating of the recommended movies)")
    # recommendations_df.show(truncate=False)

    # # Sort the recommended movies by their rating and select the top 10
    # top_recommendations = recommendations_df.sort(col("rating").desc()).limit(10)

    # print("top recommendations df")
    # top_recommendations.show(truncate=False)

    # return top_recommendations.select("title", "genres").rdd.map(lambda x: (x[0], x[1])).collect()